*{

    padding: 0;
    margin: 0;
}
.container{

    padding: 20px;
    text-align: center;
}
.title-one__menu1 , .title-one__menu2 , .title-one__menu3{


    display: inline-block;
}
.title{

    background-color: #F24464;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.image1,.image2,.image3,.image4{

    height: 350px;
    width: 250px;
    
}

.food-menu1,.food-menu2,.food-menu3,.food-menu4{
    
    border:solid black 2px;
    margin-top: 20px;
    height: 470px;
    width: 250px;
    vertical-align: top;
    display: inline-block;
    
    
}
.food-menu1__items,.food-menu2__items,.food-menu3__items,.food-menu4__items{   

       font-size: 18px;



}
.order-button1,.order-button2,.order-button3,.order-button4{

    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
}
.container-contact{

     background-color:#64798C;
     color: white;
     border-radius: 20px;
    
}
.container-contact__us{
 
  
    padding: 20px;
    margin-top: 10px;
    align-items: center;
    

}
.contact-button{

     color: black;
     background-color: white;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 100px;
     padding-right: 100px;
     margin-bottom: 30px;
     border: none;
     border-radius: 20px;
    
}

.contact-table{

    text-align: center;
    display: inline-block;

}
.space{

    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: none;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.cs{

    margin-bottom: 10px;
}

